# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Exclude sensitive .tfvars files
*.auto.tfvars
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

**/.DS_Store
